<nb-card style="width: 76vw;">
  <nb-card-body class="mx-4">
    <nb-stepper orientation="horizontal" class="mx-3">
      <nb-step [label]="labelOne" *ngFor="let item of data let index = index">
        <ng-template #labelOne class="px- mx-auto">
          <p class="my-0 py-0 label">Pending</p>
          <p class="my-0 py-0 label">{{monthNames[index].label}} Payment</p>
          <h6 class="my-0 py-0 currency">{{item.monthlyPayment | currency :  "N"}}</h6>
          <p class="my-0 py-0 label">{{item?.date }}</p>
        </ng-template>
      </nb-step>
    </nb-stepper>
  </nb-card-body>
</nb-card>