.-ng-magin {
    margin-top: -16px;
}
.icon-style{
    font-size: 42px;
    color: #fff;
    border-radius: 10px;
    font-weight:100;
}

.danger{
    background: #DC143C; 
}
.success{
    background: #2B645D; 
}
.info{
    background: #0057B2; 
}
.warning{
    background: #FFCF0F; 
}
.doughnut-style{
    position: relative;
    top: 20px;
}