<div style="width: 100vw;">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6 mx-auto">
                <nb-card class="xyz-in dialog" xyz="fade down-25%" style="width: 60vh; background: #fff;">
                    <nb-card-body style="overflow-y: auto;" class="mb-3 px-5">

                        <div class="row">
                            <div class="mx-auto">
                                <img src="assets/icons/bro.png" alt="" class="img-responsive">
                            </div>
                            <div class="row mx-auto">
                                <p class="mx-auto mt-3" style="font-weight: 900;">Account created successfully</p>
                                <button [nbSpinner]="submitted" nbButton fullWidth status="primary" (click)="onSuccess()">
                                    Proceed to Login
                                </button>
                            </div>

                            <!-- Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam cumque fugit officia aperiam quasi repudiandae harum rerum reiciendis. Explicabo, laudantium voluptas. Aliquam aperiam placeat tempora nihil corporis doloremque molestias nemo? -->
                        </div>
                    </nb-card-body>
                </nb-card>
            </div>
        </div>
    </div>
</div>