.card-width {
    width: 35vw;
}

.file-field {
    height: 80px !important;
    padding-top: 26px !important;
}

:host(.cdk-overlay-container) {
    opacity: 0 !important;
    background: none !important
}
.text-application {
    font-weight: 700;
    font-size: 12px;
    line-height: 24px;
}
.cdk-global-overlay-wrapper{
    opacity: 0 !important;
    background: none !important
}

.tooltip-info{
    font-weight: 900;
    font-style: normal;
    font-family: cursive;
}