<h1 id="title" class="title">Update password</h1>
<p class="sub-title">Please fill the form to update your password</p>

<nb-alert *ngIf="showMessages.error && errors?.length && !submitted" outline="danger" role="alert">
  <p class="alert-title"><b>Oh snap!</b></p>
  <ul class="alert-message-list">
    <li *ngFor="let error of errors" class="alert-message">{{ error }}</li>
  </ul>
</nb-alert>

<nb-alert *ngIf="showMessages.success && messages?.length && !submitted" outline="success" role="alert">
  <p class="alert-title"><b>Success</b></p>
  <ul class="alert-message-list">
    <li *ngFor="let message of messages" class="alert-message">{{ message }}</li>
  </ul>
</nb-alert>

<form (ngSubmit)="updatePass()" #updatePassForm="ngForm" aria-labelledby="title">

  <div class="form-control-group">
    <label class="label" for="old-password">Old Password:</label>
    <nb-form-field>
      <input nbInput [(ngModel)]="pass.oldPassword" #oldPassword="ngModel"
        [type]="isPasswordHidden ? 'password' : 'text'" id="old-password" name="oldPassword" class="first"
        placeholder="Old Password" autofocus fullWidth
        [status]="oldPassword.dirty ? (oldPassword.invalid  ? 'danger' : 'success') : 'basic'"
        [required]="getConfigValue('forms.validation.oldPassword.required')"
        [minlength]="getConfigValue('forms.validation.oldPassword.minLength')"
        [maxlength]="getConfigValue('forms.validation.oldPassword.maxLength')"
        [attr.aria-invalid]="oldPassword.invalid && oldPassword.touched ? true : null">
      <button nbSuffix nbButton ghost type="button" (click)="isPasswordHidden = !isPasswordHidden">
        <nb-icon [icon]="isPasswordHidden ? 'eye-outline' : 'eye-off-2-outline'" pack="eva"
          [attr.aria-label]="!isPasswordHidden ? 'hide password' : 'show password'">
        </nb-icon>
      </button>
    </nb-form-field>
    <ng-container *ngIf="oldPassword.invalid && oldPassword.touched">
      <p class="error-message" *ngIf="oldPassword.errors?.required">
        Password is required!
      </p>
      <p class="error-message" *ngIf="oldPassword.errors?.minlength || oldPassword.errors?.maxlength">
        Password should contains
        from {{getConfigValue('forms.validation.oldPassword.minLength')}}
        to {{getConfigValue('forms.validation.oldPassword.maxLength')}}
        characters
      </p>
    </ng-container>
  </div>

  <div class="form-control-group">
    <label class="label" for="input-password">New Password:</label>
    <input nbInput [(ngModel)]="pass.newPassword" #password="ngModel" type="password" id="input-password"
      name="password" class="first" placeholder="New Password" autofocus fullWidth
      pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*_=+-]).{8,50}"
      [status]="password.dirty ? ((password.invalid || oldPassword.value === password.value)  ? 'danger' : 'success') : 'basic'"
      [required]="getConfigValue('forms.validation.password.required')"
      [minlength]="getConfigValue('forms.validation.password.minLength')"
      [maxlength]="getConfigValue('forms.validation.password.maxLength')"
      [attr.aria-invalid]="password.invalid && password.touched ? true : null">
    <ng-container *ngIf="password.touched">
      <p class="error-message" *ngIf="password.invalid && password.errors?.required">
        Password is required!
      </p>
      <p class="error-message" *ngIf="password.errors?.minlength || password.errors?.pattern">
        A strong password is required!
      </p>
      <p class="error-message" *ngIf="(password.errors?.minlength || password.errors?.maxlength) && password.invalid">
        Password should contains
        from {{getConfigValue('forms.validation.password.minLength')}}
        to {{getConfigValue('forms.validation.password.maxLength')}}
        characters
      </p>
      <p class="error-message" *ngIf="oldPassword.value === password.value && !password.errors?.required">
        Password should be different from the old one.
      </p>
    </ng-container>
  </div>

  <div class="form-group">
    <label class="label" for="input-re-password">Confirm Password:</label>
    <input nbInput [(ngModel)]="pass.confirmPassword" #rePass="ngModel" id="input-re-password" name="rePass"
      type="password" class="last" placeholder="Confirm Password" fullWidth [status]="rePass.touched
               ? (rePass.invalid || password.value !== rePass.value ? 'danger' : 'success')
               : 'basic'" [required]="getConfigValue('forms.validation.password.required')"
      [attr.aria-invalid]="rePass.invalid && rePass.touched ? true : null">
    <ng-container *ngIf="rePass.touched">
      <p class="error-message" *ngIf="rePass.invalid && rePass.errors?.required">
        Password confirmation is required!
      </p>
      <p class="error-message" *ngIf="password.value !== rePass.value && !rePass.errors?.required">
        Password does not match the confirm password.
      </p>
    </ng-container>
  </div>

  <button nbButton status="success" fullWidth [nbSpinner]="submitted"
    [disabled]="submitted || !updatePassForm.valid || (password.value !== rePass.value) || (password.value === oldPassword.value)"
    [class.btn-pulse]="submitted">
    Update password
  </button>
</form>