<nb-card size="large" fullWidth class="no-padding" style="height: 85vh">
    <nb-card-body>
        <div class="row">
            <div class="col-md-11">
                <p class="heading py-2 px-4 mx-4">
                    Recent Notifications
                </p>
            </div>
        </div>
        <div class="row m-0">
            <div class="col-12">
                <nb-list>
                    <nb-list-item *ngFor="let user of notifications">
                      <nb-user [name]="user.title" [title]="user.content">
                      </nb-user>    
                    </nb-list-item>
                  </nb-list>
            </div>
        </div>
    </nb-card-body>
</nb-card>