.list-unstyled li a{
    text-decoration: none;
}
.list-unstyled li a:active{
    font-weight: 900;
    color: #34D399;
}
.font-weight-g{
    font-weight: 900 !important;
}

textarea{
    max-width: 100% !important;
}