<div class="row">
    <div class="col-3">
        <nb-card size="small" fullWidth class="no-padding">
            <nb-card-body>
                <ul class="list-unstyled mt-3">
                    <li *ngFor="let item of menu">
                        <a href="#" (click)="changeView(item, $event)"> {{ item }}</a>
                    </li>
                </ul>
            </nb-card-body>
        </nb-card>
    </div>
    <div class="col-9">
        <nb-card size="large" fullWidth class="py-1">
            <nb-card-body class="">
                <div class="row m-0">
                    <div class="col-12" *ngIf="bankAccount">
                        <h3 class="heading">Bank Account</h3>
                        <div class="row">
                            <div class="col-4" *ngIf="!isBank">
                                <div class="mt-2" >
                                    <img class="mx-auto d-block img img-responsive" src="assets/icons/bankAccount.png"
                                        alt="bankAccount" />
                                    <p class="text-center">You haven’t added any bank accounts yet</p>
                                </div>
                            </div>
                            <div class="col">
                                <form (ngSubmit)="contactUsAction()" #bankform="ngForm">
                                    <div class="form-control-group">
                                        <label class="label" for="input-accountNumber">Account Number</label>
                                        <nb-form-field>
                                            <input nbInput fullWidth [(ngModel)]="bankForm.accountNumber" #accountNumber="ngModel"
                                                name="accountNumber" id="input-accountNumber" placeholder=" Account Number"
                                                autofocus type="text"
                                                [value] ="isBank ? userData.accountNumber : ''"
                                                [status]="accountNumber.dirty ? (accountNumber.invalid  ? 'danger' : 'success') : 'basic'"
                                                [attr.aria-invalid]="accountNumber.invalid && accountNumber.touched ? true : null">

                                        </nb-form-field>
                                        <ng-container *ngIf="accountNumber.invalid && accountNumber.touched">
                                            <p class="error-message" *ngIf="accountNumber.errors?.required">
                                                Account Number required!
                                            </p>
                                        </ng-container>
                                    </div>
                                    <div class="form-control-group">
                                        <label class="label" for="input-title">Bank Name</label>
                                        <nb-form-field>
                                            <input nbInput fullWidth [(ngModel)]="bankForm.bankName" #bankName="ngModel"
                                                name="bankName" id="input-bankName" placeholder=" Bank Name"
                                                autofocus type="text"
                                                [value] ="isBank ? userData.bankName : ''"
                                                [status]="bankName.dirty ? (bankName.invalid  ? 'danger' : 'success') : 'basic'"
                                                [attr.aria-invalid]="bankName.invalid && bankName.touched ? true : null">

                                        </nb-form-field>
                                        <ng-container *ngIf="bankName.invalid && bankName.touched">
                                            <p class="error-message" *ngIf="bankName.errors?.required">
                                                Bank Name required!
                                            </p>
                                        </ng-container>
                                    </div>
                                    <br>
                                    <div class="spacer form-control-group">
                                        <button [nbSpinner]="submitted" nbButton fullWidth status="primary"
                                            [disabled]="submitted || !bankform.valid" [class.btn-pulse]="submitted"
                                            (click)="updateUserBank()">
                                            {{ isBank ? 'Update Bank Account' : 'Add Bank Account' }} 
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-12" *ngIf="card">
                        <h3 class="heading">Card</h3>
                        <div *ngIf="!cardData.length">
                            <div class="mt-2">
                                <img class="mx-auto d-block img img-responsive" src="assets/icons/rafiki.png"
                                    alt="bankAccount" />
                                <p class="text-center">You haven’t added any debit cards yet</p>
                            </div>
                            <div class="mt-2">
                                <button fullWidth nbButton status="primary" size="large"
                                    (click)="startProcess('bankAccount')">
                                    Add Card
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-12" *ngIf="changePassword">
                        <h3 class="heading">Change Password</h3>
                        <div class="col-12">
                            <nb-alert *ngIf="errorsPass?.length && !submitted" outline="danger" role="alert">
                                <p class="alert-title"><b>Oh snap!</b></p>
                                <ul class="alert-message-list">
                                    <li *ngFor="let error of errors" class="alert-message">{{ error }}</li>
                                </ul>
                            </nb-alert>

                            <nb-alert *ngIf="messagesPass?.length && !submittedPass" outline="success" role="alert">
                                <p class="alert-title"><b>Success</b></p>
                                <ul class="alert-message-list">
                                    <li *ngFor="let message of messagesPass" class="alert-message">{{ message }}</li>
                                </ul>
                            </nb-alert>
                            <form (ngSubmit)="changePasswordAction()" #ChangePassform="ngForm">
                                <div class="form-control-group col-md-7 col-sm-12 col-xs-12 ">
                                    <label class="label" for="input-password">Current Password:</label>
                                    <nb-form-field>
                                        <input nbInput fullWidth [(ngModel)]="user.currentpassword"
                                            #currentpassword="ngModel" name="currentpassword"
                                            [type]="isPasswordHidden ? 'password' : 'text'" id="input-currentpassword"
                                            placeholder="Current Password"
                                            [status]="currentpassword.dirty ? (currentpassword.invalid  ? 'danger' : 'success') : 'basic'"
                                            [required]="true" [minlength]="8" [maxlength]="32"
                                            [attr.aria-invalid]="currentpassword.invalid && currentpassword.touched ? true : null">
                                        <button nbSuffix nbButton ghost type="button"
                                            (click)="isPasswordHidden = !isPasswordHidden">
                                            <nb-icon [icon]="isPasswordHidden ? 'eye-outline' : 'eye-off-2-outline'"
                                                pack="eva"
                                                [attr.aria-label]="!isPasswordHidden ? 'hide password' : 'show password'">
                                            </nb-icon>
                                        </button>
                                    </nb-form-field>
                                    <ng-container *ngIf="currentpassword.invalid && currentpassword.touched ">
                                        <p class="error-message" *ngIf="currentpassword.errors?.required">
                                            Current password is required!
                                        </p>
                                    </ng-container>
                                </div>

                                <div class="form-control-group col-md-7 col-sm-12 col-xs-12 ">
                                    <label class="label" for="input-password">New Password:</label>
                                    <nb-form-field>
                                        <input nbInput fullWidth [(ngModel)]="user.password" #password="ngModel"
                                            name="password" [type]="isPasswordHidden ? 'password' : 'text'"
                                            id="input-password" placeholder="New Password"
                                            [status]="password.dirty ? (password.invalid  ? 'danger' : 'success') : 'basic'"
                                            [required]="true" [minlength]="8" [maxlength]="32"
                                            [attr.aria-invalid]="password.invalid && password.touched ? true : null">
                                        <button nbSuffix nbButton ghost type="button"
                                            (click)="isPasswordHidden = !isPasswordHidden">
                                            <nb-icon [icon]="isPasswordHidden ? 'eye-outline' : 'eye-off-2-outline'"
                                                pack="eva"
                                                [attr.aria-label]="!isPasswordHidden ? 'hide password' : 'show password'">
                                            </nb-icon>
                                        </button>
                                    </nb-form-field>
                                    <ng-container *ngIf="password.invalid && password.touched ">
                                        <p class="error-message" *ngIf="password.errors?.required">
                                            Password is required!
                                        </p>
                                    </ng-container>
                                </div>

                                <div class="form-control-group col-md-7 col-sm-12 col-xs-12">
                                    <label class="label" for="input-confirmpassword">Confirm Password</label>
                                    <nb-form-field>
                                        <input nbInput fullWidth [(ngModel)]="user.confirmpassword"
                                            #confirmpassword="ngModel" name="confirmpassword" id="input-confirmpassword"
                                            placeholder=" Comfirm Password" autofocus
                                            [type]="isPasswordHiddenConf ? 'password' : 'text'" [required]="true"
                                            [minlength]="8" [maxlength]="32"
                                            [status]="confirmpassword.dirty ? (confirmpassword.invalid  ? 'danger' : 'success') : 'basic'"
                                            [attr.aria-invalid]="confirmpassword.invalid && confirmpassword.touched ? true : null">
                                        <button nbSuffix nbButton ghost type="button"
                                            (click)="isPasswordHiddenConf = !isPasswordHiddenConf">
                                            <nb-icon [icon]="isPasswordHiddenConf ? 'eye-outline' : 'eye-off-2-outline'"
                                                pack="eva"
                                                [attr.aria-label]="!isPasswordHiddenConf ? 'hide password' : 'show password'">
                                            </nb-icon>
                                        </button>
                                    </nb-form-field>
                                    <ng-container *ngIf="confirmpassword.invalid && confirmpassword.touched">
                                        <p class="error-message" *ngIf="confirmpassword.errors?.required">
                                            Confirm Password is required!
                                        </p>
                                        <p class="error-message" *ngIf="password.value !== confirmpassword.value ">
                                            Password does not match the confirm password.
                                        </p>
                                    </ng-container>
                                </div>
                                <br>
                                <div class="col-md-7 col-sm-12 col-xs-12 spacer form-control-group">
                                    <button [nbSpinner]="submitted" nbButton fullWidth status="primary"
                                        [disabled]="submitted || !ChangePassform.valid || (password.value !== confirmpassword.value)"
                                        [class.btn-pulse]="submitted">
                                        Change Password
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-12" *ngIf="contactUs">
                        <div class="col-8">
                            <h3 class="heading">Contact Us</h3>
                            <p>Send us a message and we’ll get back to you </p>
                            <nb-alert *ngIf="errors?.length && !submitted" outline="danger" role="alert">
                                <p class="alert-title"><b>Oh snap!</b></p>
                                <ul class="alert-message-list list-unstyled">
                                    <li *ngFor="let error of errors" class="alert-message">{{ error }}</li>
                                </ul>
                            </nb-alert>

                            <nb-alert *ngIf="messages?.length && !submitted" outline="success" role="alert">
                                <p class="alert-title"><b>Success</b></p>
                                <ul class="alert-message-list list-unstyled">
                                    <li *ngFor="let message of messages" class="alert-message">{{ message }}</li>
                                </ul>
                            </nb-alert>
                            <form (ngSubmit)="contactUsAction()" #form="ngForm">
                                <div class="form-control-group">
                                    <label class="label" for="input-title">Tile</label>
                                    <nb-form-field>
                                        <input nbInput fullWidth [(ngModel)]="contactForm.title" #title="ngModel"
                                            name="title" id="input-title" placeholder=" Title of Your Request" autofocus
                                            [type]="isPasswordHiddenConf ? 'password' : 'text'"
                                            [status]="title.dirty ? (title.invalid  ? 'danger' : 'success') : 'basic'"
                                            [attr.aria-invalid]="title.invalid && title.touched ? true : null">

                                    </nb-form-field>
                                    <ng-container *ngIf="title.invalid && title.touched">
                                        <p class="error-message" *ngIf="title.errors?.required">
                                            Title required!
                                        </p>
                                    </ng-container>
                                </div>
                                <div class="form-control-group mt-3">
                                    <textarea nbInput name="message" size="small" id="message" class="form-control"
                                        [(ngModel)]="contactForm.message" #message="ngModel" rows="4"
                                        cols="30"></textarea>
                                    <ng-container *ngIf="message.invalid && message.touched">
                                        <p class="error-message" *ngIf="message.errors?.required">
                                            Message required!
                                        </p>
                                    </ng-container>
                                </div>

                                <br>
                                <div class="spacer form-control-group">
                                    <button [nbSpinner]="submitted" nbButton fullWidth status="primary"
                                        [disabled]="submitted || !form.valid" [class.btn-pulse]="submitted">
                                        Send Feedback
                                    </button>
                                </div>
                            </form>
                        </div>
                        <div class="py-4 mt-4">
                            <div class="row">
                                <div class="col">
                                    <p class="font-weight-g">
                                        <nb-icon icon="phone-outline"></nb-icon> +234 803 200 2205
                                    </p>
                                    <p class="font-weight-g">
                                        <nb-icon icon="email"></nb-icon>
                                        info@whistlesalliance.com
                                    </p>
                                </div>
                                <div class="col">
                                    <p class="font-weight-g">
                                        <nb-icon icon="linkedin-my" pack="social-networks"></nb-icon>
                                        LinkedIn
                                    </p>
                                    <p class="font-weight-g">
                                        <nb-icon icon="instagram" pack="social-networks"></nb-icon>
                                        Instagram
                                    </p>
                                </div>
                            </div>



                        </div>
                    </div>
                </div>
            </nb-card-body>
        </nb-card>
    </div>
</div>