<div class="col-12">
    <div class="">
        <div class="">
            <div class="col-9 mx-auto">
                <nb-card class="xyz-in dialog" xyz="fade down-25%" style="background: #fff;">
                    <nb-card-header>
                        <h5 class="mx-auto" style="font-weight: 900; text-align: center;">Terms And Condition
                            Policy</h5>
                    </nb-card-header>
                    <nb-card-body style="overflow-y: auto;" class="mb-3 px-5">
                        

                        <div class="row">
                            <div class="mx-auto">

                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis dignissimos
                                    dolorum sapiente delectus illum adipisci aspernatur iusto id nemo minus odit unde
                                    esse a inventore quam, perferendis quae neque. Rerum.</p>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis dignissimos
                                    dolorum sapiente delectus illum adipisci aspernatur iusto id nemo minus odit unde
                                    esse a inventore quam, perferendis quae neque. Rerum.</p>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis dignissimos
                                    dolorum sapiente delectus illum adipisci aspernatur iusto id nemo minus odit unde
                                    esse a inventore quam, perferendis quae neque. Rerum.</p>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis dignissimos
                                    dolorum sapiente delectus illum adipisci aspernatur iusto id nemo minus odit unde
                                    esse a inventore quam, perferendis quae neque. Rerum.</p>

                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis dignissimos
                                    dolorum sapiente delectus illum adipisci aspernatur iusto id nemo minus odit unde
                                    esse a inventore quam, perferendis quae neque. Rerum.</p>
                            </div>
                           


                            <!-- Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam cumque fugit officia aperiam quasi repudiandae harum rerum reiciendis. Explicabo, laudantium voluptas. Aliquam aperiam placeat tempora nihil corporis doloremque molestias nemo? -->
                        </div>
                    </nb-card-body>
                    <nb-card-footer>
                        <div class="row mx-auto" style="text-align: center;">
                            <button [nbSpinner]="submitted" nbButton status="primary"
                                (click)="close()" size="small">
                                Close
                            </button>
                        </div>
                    </nb-card-footer>
                </nb-card>
            </div>
        </div>
    </div>
</div>