<div class="col-12">
    <div class="">
        <div class="">
            <div class="col-9 mx-auto">
                <nb-card class="xyz-in dialog" xyz="fade down-25%" style="background: #fff;">
                    <nb-card-header>
                        <h5 class="mx-auto" style="font-weight: 900; text-align: center;">
                            Privacy Policy    
                        </h5>
                    </nb-card-header>
                    <nb-card-body style="overflow-y: auto;" class="mb-3 px-5">
                        
                        <h3>1.0 Introduction</h3>
                        <div class="row">
                            <div class="mx-auto">
                              
                            </div>
                        </div>
                    </nb-card-body>
                    <nb-card-footer>
                        <div class="row mx-auto" style="text-align: center;">
                            <button [nbSpinner]="submitted" nbButton status="primary"
                                (click)="close()" size="small">
                                Close
                            </button>
                        </div>
                    </nb-card-footer>
                </nb-card>
            </div>
        </div>
    </div>
</div>