.primary-button {
   background-color:  #2B645D;
   color: #fff;
   border-radius: 4px;
   border: 1px solid transparent;
   font-size: 11px;
}
p{
   margin-bottom: 0px !important;
}
.circular{
   border-radius: 50% !important;
   height: 34px;
   width: 34px;
}
.user-title {
   font-size: 10px !important;
}
.status-text{
   font-size: 10px;
}