<div class="container-fluid p-0 m-0">
    <div class="row m-0">
        <div class="col">
            <nb-card size="medium" fullWidth class="py-0 px-0">
                <nb-card-body>
                    <h5>Loan Applications</h5>
                    <div class="row">
                        <div class="col-5 mt-2">
                            <div class="mt-4">
                                <p class=" grey-text">Total Processed </p>
                                <p class="bold-text">{{laonSummaryData?.total || 0}}</p>
                            </div>
                            <div class="mt-4">
                                <p class=" grey-text">Pending Loan</p>
                                <p class="bold-text">{{laonSummaryData?.pending || 0}}</p>
                            </div>
                            <div class="mt-4">
                                <p class="grey-text">Approved Loans </p>
                                <p class="bold-text">{{laonSummaryData?.approved || 0}}</p>
                            </div>
                            <div class="mt-4">
                                <p class="grey-text">Declined Loans </p>
                                <p class="bold-text">{{laonSummaryData?.declined || 0}}</p>
                            </div>

                            <div class="mt-4">
                                <p class="grey-text">Closed Loans </p>
                                <p class="bold-text">{{laonSummaryData?.closed || 0}}</p>
                            </div>
                        </div>
                        <div class="col-7">
                            <app-chart [chartId]="'doughnut'" [data]="dataDoughnut" [config]="optionsDough"
                        class="doughnut-style"></app-chart>
                        </div>
                    </div>
                </nb-card-body>
            </nb-card>
        </div>
        <!-- <div class="col-4">
            <nb-card size="medium" fullWidth class="py-0 px-0">
                <nb-card-body class="py-0 px-0" style="position: relative;  top: 60px;">
                    <app-chart [chartId]="'doughnut'" [data]="dataDoughnut" [config]="optionsDough"
                        class="doughnut-style"></app-chart>
                </nb-card-body>
            </nb-card>
        </div> -->
    </div>

    <div class="row m-0">
        <div class="col-12">
            <app-table [isLoading]="isLoadingData" title="Loan" subTitle="" [data]="loans" [columns]="columns"
                (requestData)="requestData($event)">
            </app-table>
        </div>
    </div>
</div>