@import "./@theme/styles/themes";
@import "~bootstrap/scss/mixins/breakpoints";
@import "~@nebular/theme/styles/global/breakpoints";

::ng-deep .nb-theme-dark {
    nb-card.dialog {
        backdrop-filter: blur(20px) !important;
        --card-background-color: rgba(100, 141, 223, 0.07);
    }
}

@include media-breakpoint-down(md) {
    ::ng-deep .nb-theme-dark {
        nb-card.dialog {
            backdrop-filter: blur(30px) !important;
            --card-background-color: rgba(46, 58, 89, 0.4);
        }
    }
  }