<nb-layout class="m-0 p-0">
    <nb-layout-column class="p-0">
        <div class="container-fluid " style="height: 100vh">
            <div class="row">
                <div class="col-md-6 form-layout-left mb-5 d-none d-sm-block">
                    <nb-layout-header class="landing-header mx-md-5">
                        <div class="header-container pr-0 col mt-md-5">
                            <div class="logo-container mt-md-5">
                                <h3>
                                    <a routerLink="/">
                                        <img src="assets/icons/logo.png" height="50px" alt="">
                                    </a>
                                </h3>
                            </div>
                        </div>
                    </nb-layout-header>
                    <div class="col mt-5">
                        <img src="assets/icons/amico.png" class="img img-responsive mt-md-5" alt="">
                    </div>
                </div>
                <div class="col-md-6 form-layout-right  d-none d-sm-block">
                    <div class="col-md-8 mt-md-5">
                        <div class="spacer mb-5">
                            <h1 id="title" class="heading">Forgot Password</h1>
                        </div>
                        <nb-alert *ngIf="showMessages.error && errors?.length && !submitted" outline="danger"
                            role="alert">
                            <p class="alert-title"><b>Oh snap!</b></p>
                            <ul class="alert-message-list">
                                <li *ngFor="let error of errors" class="alert-message">{{ error }}</li>
                            </ul>
                        </nb-alert>

                        <nb-alert *ngIf="showMessages.success && messages?.length && !submitted" outline="success"
                            role="alert">
                            <p class="alert-title"><b>Hooray!</b></p>
                            <ul class="alert-message-list">
                                <li *ngFor="let message of messages" class="alert-message">{{ message }}</li>
                            </ul>
                        </nb-alert>

                        <form (ngSubmit)="requestPass()" #requestPassForm="ngForm" aria-labelledby="title">

                            <div class="form-control-group">
                                <label class="label" for="input-email">Enter your email address:</label>
                                <input nbInput [(ngModel)]="user.email" #email="ngModel" id="input-email" name="email"
                                    pattern=".+@.+\..+" placeholder="Email address" autofocus fullWidth
                                    [status]="email.dirty ? (email.invalid  ? 'danger' : 'success') : 'basic'"
                                    [required]="getConfigValue('forms.validation.email.required')"
                                    [attr.aria-invalid]="email.invalid && email.touched ? true : null">
                                <ng-container *ngIf="email.invalid && email.touched">
                                    <p class="error-message" *ngIf="email.errors?.required">
                                        Email is required!
                                    </p>
                                    <p class="error-message" *ngIf="email.errors?.pattern">
                                        Email should be the real one!
                                    </p>
                                </ng-container>
                            </div>

                            <button [nbSpinner]="submitted" nbButton fullWidth status="info" class="mt-4"
                                [disabled]="submitted || !requestPassForm.valid" [class.btn-pulse]="submitted">
                                Request password
                            </button>
                        </form>

                        <section class="sign-in-or-up" style="justify-content: center;" aria-label="Sign in or sign up">
                            <p><a class="text-link" routerLink="../login">Back to Log In</a></p>
                        </section>
                    </div>
                </div>
                <div class="col-md-6 form-layout-left d-sm-none d-md-none d-xl-none">
                    <div class="logo-spacer">
                        <h3>
                            <a routerLink="/">
                                <img src="assets/icons/logo.png" height="50px" alt="">
                            </a>
                        </h3>
                    </div>

                    <div class="col-md-12 mt-md-5 spacer p-0">
                        <div class="">
                            <h3 class="heading-dark">Forgot Password</h3>
                        </div>
                        <nb-alert *ngIf="showMessages.error && errors?.length && !submitted" outline="danger"
                            role="alert">
                            <p class="alert-title"><b>Oh snap!</b></p>
                            <ul class="alert-message-list">
                                <li *ngFor="let error of errors" class="alert-message">{{ error }}</li>
                            </ul>
                        </nb-alert>

                        <nb-alert *ngIf="showMessages.success && messages?.length && !submitted" outline="success"
                            role="alert">
                            <p class="alert-title"><b>Hooray!</b></p>
                            <ul class="alert-message-list">
                                <li *ngFor="let message of messages" class="alert-message">{{ message }}</li>
                            </ul>
                        </nb-alert>

                        <form (ngSubmit)="requestPass()" #requestPassForm="ngForm" aria-labelledby="title">

                            <div class="form-control-group mt-5">
                                <label class="label" for="input-email">Enter your email address:</label>
                                <input nbInput [(ngModel)]="user.email" #email="ngModel" id="input-email" name="email"
                                    pattern=".+@.+\..+" placeholder="Email address" autofocus fullWidth
                                    [status]="email.dirty ? (email.invalid  ? 'danger' : 'success') : 'basic'"
                                    [required]="getConfigValue('forms.validation.email.required')"
                                    [attr.aria-invalid]="email.invalid && email.touched ? true : null">
                                <ng-container *ngIf="email.invalid && email.touched">
                                    <p class="error-message" *ngIf="email.errors?.required">
                                        Email is required!
                                    </p>
                                    <p class="error-message" *ngIf="email.errors?.pattern">
                                        Email should be the real one!
                                    </p>
                                </ng-container>
                            </div>

                            <button [nbSpinner]="submitted" nbButton fullWidth status="info" class="mt-4"
                                [disabled]="submitted || !requestPassForm.valid" [class.btn-pulse]="submitted">
                                Request password
                            </button>
                        </form>
                        <section class="sign-in-or-up mt-5" style="justify-content: center;" aria-label="Sign in or sign up">
                            <p><a class="text-link" routerLink="../login">Back to Log In</a></p>
                        </section>
                    </div>
                </div>
            </div>

        </div>

    </nb-layout-column>

</nb-layout>