<div class="container-fluid p-0 m-0">
    <div class="row m-0">
        <div class="col-3">
            <nb-card size="small" fullWidth class="py-0 px-0">
                <nb-card-body>
                    <h5>Loan Applications</h5>
                    <div class="row">
                        <div class="col-3">
                            <div class="">
                                <p class=" grey-text">Total Processed </p>
                                <p class="bold-text">400</p>
                            </div>
                            <div class="mt-4">
                                <p class="grey-text">Approved Loans </p>
                                <p class="bold-text">400</p>
                            </div>
                            <div class="mt-4">
                                <p class="grey-text">Declined Loans </p>
                                <p class="bold-text">400</p>
                            </div>
                        </div>
                        <div class="col-9">

                        </div>
                    </div>
                </nb-card-body>
            </nb-card>
            <nb-card size="small" fullWidth class="py-0 px-0">
                <nb-card-body>
                    <h5>Other Information</h5>
                    <div class="row">
                        <div class="col-3 mt-4">
                            <div class="mt-4">
                                <p class=" grey-text">Total Processed </p>
                                <p class="bold-text">400</p>
                            </div>
                            <div class="mt-4">
                                <p class="grey-text">Approved Loans </p>
                                <p class="bold-text">400</p>
                            </div>
                            <div class="mt-4">
                                <p class="grey-text">Declined Loans </p>
                                <p class="bold-text">400</p>
                            </div>
                        </div>
                        <div class="col-9">

                        </div>
                    </div>
                </nb-card-body>
            </nb-card>
        </div>
        <div class="col-9">
            <nb-card size="small" fullWidth class="py-0 px-0">
                <nb-card-body class="px-0 py-0">
                    <nb-card-header class="no-padding">
                        <div class="card-colors card-radius-top">
                            <h5 class="px-4 py-3">Documents</h5>
                        </div>
                        <div class="row px-4">
                            <div class="col-4">
                                <p>Proof of Address</p>
                                <div class="box">

                                </div>
                                <div class="mt-1 col-8 px-0">
                                    <button  class="p-1" nbButton status="primary" fullWidth>Approve</button>
                                </div>
                                <div class="mt-1 col-8 px-0">
                                    <button  class="p-1" nbButton status="danger" fullWidth>Reject</button>
                                </div>
                            </div>
                            <div class="col-4">
                                <p>Proof of Emplyment</p>
                                <div class="box">

                                </div>
                                <div class="mt-1 col-8 px-0">
                                    <button  class="p-1" nbButton status="primary" fullWidth>Approve</button>
                                </div>
                                <div class="mt-1 col-8 px-0">
                                    <button  class="p-1" nbButton status="danger" fullWidth>Reject</button>
                                </div>
                            </div>
                            <div class="col-4">
                                <p>Proof of Identity</p>
                                <div class="box">

                                </div>
                                <div class="mt-1 col-8 px-0">
                                    <button  class="p-1" nbButton status="primary" fullWidth>Approve</button>
                                </div>
                                <div class="mt-1 col-8 px-0">
                                    <button  class="p-1" nbButton status="danger" fullWidth>Reject</button>
                                </div>
                            </div>
                        </div>
                    </nb-card-header>
                </nb-card-body>
            </nb-card>
            <nb-card size="medium" fullWidth class="py-0 px-0">
                <nb-card-body class="px-0 py-0">
                    <nb-card-header class="no-padding">
                        <div class="card-color card-radius-top">
                            <h5 class="px-4 py-3 text-white ">Loan Details</h5>
                        </div>
                    </nb-card-header>
                    <table class="table px-4">
                        <tr>
                            <th>Amount</th>
                            <td>400,000</td>
                        </tr>
                        <tr>
                            <th>Amount</th>
                            <td>400,000</td>
                        </tr>
                        <tr>
                            <th>Amount</th>
                            <td>400,000</td>
                        </tr>
                        <tr>
                            <th>Amount</th>
                            <td>400,000</td>
                        </tr>
                        <tr>
                            <th>Amount</th>
                            <td>400,000</td>
                        </tr>
                    </table>
                    <div class="mt-1 col-8 px-0 mx-auto">
                        <button  class="p-1" nbButton status="primary" fullWidth>Approve</button>
                    </div>
                    <div class="mt-4 col-8 px-0 mx-auto">
                        <button  class="p-1" nbButton status="danger" fullWidth>Reject</button>
                    </div>
                </nb-card-body>
            </nb-card>
        </div>
    </div>
</div>