<div class="container-fluid p-0 m-0">
    <div class="row m-0">
        <div class="col-4">
            <nb-card size="small" fullWidth class="py-0 px-0">
                <nb-card-body class="px-0">
                    <div class="px-3 py-3">
                        <nb-user [name]="fullname" [title]="createdDate">
                        </nb-user>
                        <div class="mt-4">

                            <div class="mb-2">
                                <p class="label ">Email</p>
                                <p>{{ userData?.email }}</p>
                            </div>
                            <div class="mb-2">
                                <p class="label ">Phone</p>
                                <p>{{ userData?.phoneNumber }}</p>
                            </div>
                            <div class="mb-2">
                                <p class="label ">DOB</p>
                                <p>{{ userData?.dateOfBirth }}</p>
                            </div>
                        </div>
                        <div class="mt-2" *ngIf="userData?.loanSummary != null">
                            <h6 class="labels">Loan Statistics</h6>
                            <nb-button-group class="mt-2 mx-auto" size="large">
                                <div class="mr-2">
                                    <button nbButtonToggle class="mr-2 circular" outline
                                        status="info">{{userData.loanSummary.pending}}</button>
                                    <p class="status-text">Pending</p>
                                </div>
                                <div class="mr-2">
                                    <button nbButtonToggle pressed class="mr-2 circular" outline
                                        status="primary">{{userData.loanSummary.approved }}</button>
                                    <p class="status-text">Approved</p>
                                </div>
                                <div class="mr-2">
                                    <button nbButtonToggle class="mr-2 circular" outline
                                        status="basic">{{userData.loanSummary.repaid}}</button>
                                    <p class="status-text">Repaid</p>
                                </div>
                                <div class="mr-2">
                                    <button nbButtonToggle class="mr-2 circular" outline
                                        status="danger">{{userData.loanSummary.declined }}</button>
                                    <p class="status-text">Declined</p>
                                </div>

                            </nb-button-group>
                        </div>
                    </div>
                </nb-card-body>
            </nb-card>
            <nb-card size="small" fullWidth class="">
                <nb-card-body class="px-4">
                    <h5>Other Information</h5>
                    <div class="">
                        <div class="mt-0">
                            <div class="mt-0">
                                <p class="grey-text">Credit Score</p>
                                <p class="bold-text">{{userData?.userLimit  | currency :  "N" || 0}}</p>
                            </div>
                            <div class="mt-4">
                                <p class="grey-text">Employment Status</p>
                                <p class="bold-text">Employed</p>
                            </div>
                            <div class="mt-4">
                                <p class="grey-text">Employer</p>
                                <p class="bold-text">{{loanData?.employerName || '-'}}</p>
                            </div>
                        </div>
                    </div>
                </nb-card-body>
            </nb-card>
            <nb-card size="small" fullWidth class="">
                <nb-card-body class="px-4">
                    <h5>Admin Information</h5>
                    <div class="">
                        <div class="mt-0">
                            <div class="mt-0">
                                <p class="grey-text">Approved by</p>
                                <p class="bold-text">{{loanData?.approvedBy ||'-' }}</p>
                            </div>
                            <div class="mt-4">
                                <p class="grey-text">Date of Approval</p>
                                <p class="bold-text">{{loanData?.approvedDate |  date  }}</p>
                            </div>
                        </div>
                    </div>
                </nb-card-body>
            </nb-card>
        </div>
        <div class="col-8">
            <nb-card size="small" fullWidth class="py-0 px-0">
                <nb-card-body class="px-0 py-0">
                    <nb-card-header class="no-padding">
                        <div class="card-colors card-radius-top">
                            <h5 class="px-4 py-3">Documents</h5>
                        </div>
                        <div class="row px-4">
                            <div class="col-4" *ngFor="let item of loanDataFile; let i=index">
                                <p class="bold-text">{{(item?.filetype).toString().replaceAll("_", " ")  | titlecase }}</p>
                                <div class="box" (click)="downloadLoanFile(item.id)" style="cursor: pointer;">

                                </div>
                                <div class="mt-1 col px-0">
                                    <button class="p-1" nbButton status="primary" [disabled]="item?.comments.at(-1) ? item?.comments.at(-1)?.status  == 'APPROVED' : false " fullWidth (click)="approveFile(item)">Approve</button>
                                </div>
                                <div class="mt-1 col px-0" *ngIf="item?.comments.at(-1) ? item?.comments.at(-1)?.status  != 'APPROVED' : true  ">
                                    <button class="p-1"  nbButton status="danger"  fullWidth (click)="rejectFile(item)">Reject</button>
                                </div>
                            </div>
                        </div>
                    </nb-card-header>
                </nb-card-body>
            </nb-card>
            <nb-card size="small" fullWidth class="py-0 px-0" *ngIf="IfComment">
                <nb-card-body  class="">
                    <div class="card-colors card-radius-top">
                        <h5 class="px py-3">Comments</h5>
                        
                        <div class="mb-2"  *ngFor="let item of comment; let i=index">
                            <h6>{{(item.filetype).toString().replaceAll("_", " ")  | titlecase }}</h6>
                            <p>{{ item?.comments[0]?.content }}</p>
                        </div>
                    </div>
                </nb-card-body>
            </nb-card>
            <nb-card size="large" fullWidth class="py-0 px-2">
                <nb-card-body class="px-0 py-0">
                    <nb-card-header class="no-padding">
                        <div class="card-color card-radius-top">
                            <h5 class="px-4 py-3 text-white ">Loan Details</h5>
                        </div>
                    </nb-card-header>
                    <table class="table">
                        <tr>
                            <th>Amount</th>
                            <td class="end">{{ loanData?.amount  | currency :  "N" || 0 }}</td>
                        </tr>
                        <tr>
                            <th>Date</th>
                            <td class="end">{{ loanData?.applicationDate  | date }}</td>
                        </tr>
                        <tr>
                            <th>Repayment Tenure:</th>
                            <td class="end">{{ loanData?.paymentMonth ? 'Month(s)' : '' }}</td>
                        </tr>
                        <tr>
                            <th>Monthly Repayment Date:</th>
                            <td class="end">{{ loanData?.repaymentDay || '-'}}</td>
                        </tr>
                        <tr>
                            <th>Monthly Repayment:</th>
                            <td class="end">{{monthlyPayment | currency :  "N" || 0.00  }}</td>
                        </tr>
                        <tr>
                            <th>Interest rate:</th>
                            <td class="end">{{ loanData?.rate }}%</td>
                        </tr>
                        <tr>
                            <th>Loan Type:</th>
                            <td class="end">{{ loanType || '-'}}</td>
                        </tr>
                        <tr>
                            <th>Status:</th>
                            <td class="end">
                                <button size="tiny" nbButton outline
                                    [status]="loanData?.status == 'PENDING' ? 'warning' : 'primary'">
                                    {{loanData?.status }}
                                </button>

                            </td>
                        </tr>
                    </table>
                    <div class="mt-1 col-12 mx-auto mt-4">
                        <button nbButton class="p-1" nbButton status="primary" fullWidth (click)="approveLoan()" [disabled]="isApproved">Approve</button>
                    </div>
                    <div class="mt-4 col-12 mx-auto">
                        <button nbButton class="p-1" nbButton status="danger" fullWidth (click)="rejectLoan()" [disabled]="isApproved">Reject</button>
                    </div>
                </nb-card-body>
            </nb-card>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <app-loan-progress-stepper [data]="loanSchedule"></app-loan-progress-stepper>
        </div>
    </div>
</div>