<div class="container p-0 p-sm-1" style="height: 100%;">
    <div xyz="fade down-1 flip-up-2 flip-left-2 duration-20 delay-2 stagger ease-in-out-back" style="height: 100%;"
        class="row align-content-center justify-content-center">
        <div class="col-md-6 col-lg-8 col-12 mx-auto">

            <div class="col-12">
                <ng-lottie height="350px" [options]="options" (animationCreated)="animationCreated($event)">
                </ng-lottie>
            </div>
            <div class="col-12 text-center">
                <h1 class="title xyz-in">
                    <span style="color: var(--text-danger-color);">Invalid</span> Device
                </h1>
                <p class="sub-title xyz-in">Powertrack Argus requires a Mobile device to be used effectively</p>
            </div>
        </div>
    </div>
</div>