.label {
    font-size: 10px;
    color: #A6A6A6;
    text-align: center !important;
}
nb-stepper {
    counter-reset: stepper;
}

nb-stepper .step {
    counter-increment: stepper;
}

nb-stepper .nb-checkmark::before {
    content: counter(stepper) !important;
}
.currency{
    font-size: 13px;
    text-align: center !important;
}