<div class="container-fluid p-0 m-0">
    <div class="row m-0">
        <div class="col-md-8">
            <div class="mb-2">
                <nb-card size="small" fullWidth class="no-padding card-color">
                    <nb-card-body>
                        <div class="px-2 py-2">
                            <div class="available mt-5">
                                <p class="text-white">Available Limit</p>
                            </div>
                            <div class="mt-2">
                                <h5 class="text-loan-amount text-white">{{ userLoanLimit | currency : "N"  }}</h5>
                            </div>
                            <div class="mt-5">
                                <button class="col-md-2" [nbSpinner]="submitted" nbButton status="info" size="large"
                                    (click)="openLoanApplication()" style="font-size: 12px; font-weight: 900;">
                                    Apply Now
                                </button>
                            </div>
                        </div>
                    </nb-card-body>
                </nb-card>
            </div>
            <div class="mt-2">
                <nb-card size="large" fullWidth class="no-padding">
                    <nb-card-body>
                        <div class="row">
                            <div class="col-md-10">
                                <h4 class="heading">
                                    Recent
                                </h4>
                            </div>
                            <div class="col-md-2">
                                <a routerLink="/app/repayment" class="text-right" style="float: right !important;">View all</a>
                            </div>
                        </div>
                        <div class="row m-0">
                            <div>
                                <app-table [isLoading]="isLoadingData" title="" subTitle="" [data]="users"
                                    [columns]="columns" (requestData)="requestData($event)" [showAdd]="false">
                                </app-table>
                            </div>
                        </div>
                    </nb-card-body>
                </nb-card>
            </div>

        </div>
        <div class="col-md-4">
            <nb-card size="small" fullWidth class="no-padding" style="height: 71vh;">
                <nb-card-body class="no-padding">
                    <nb-card-header class="no-padding">
                        <div class="card-color card-radius-top">
                            <h5 class="card-calculator-header heading-text">Loan Calculator</h5>
                        </div>
                    </nb-card-header>
                    <div class="card-calculator-body p-4">
                        <form (ngSubmit)="calculateLoan()" #form="ngForm" aria-labelledby="title">

                            <div class="form-control-group">
                                <label class="label" for="input-amount">Loan Amount:</label>
                                <input nbInput fullWidth [(ngModel)]="loan.amount" #amount="ngModel" name="amount"
                                    id="input-amount" type="text" placeholder="1,000,000" autofocus
                                    inputmode="numeric" required="true"
                                    (keyup)="numberFormatComma(loan.amount)"
                                    [status]="amount.dirty ? (amount.invalid  ? 'danger' : 'success') : 'basic'"
                                    [attr.aria-invalid]="amount.invalid && amount.touched ? true : null">
                                <ng-container *ngIf="amount.invalid && amount.touched">
                                    <p class="error-message" *ngIf="amount.errors?.required">
                                        Loan Amount is required!
                                    </p>
                                </ng-container>
                            </div>
                            <div class="form-control-group mt-3">
                                <label class="label" for="input-product">Select Product:</label>
                                <nb-select fullWidth placeholder="Select Loan Tenure" required="true"
                                    [(selected)]="selectedProduct">
                                    <nb-option value="">Select Product</nb-option>
                                    <nb-option value="{{product.id}}"
                                        *ngFor="let product of loanProducts">{{product.productName}}</nb-option>
                                </nb-select>

                            </div>
                            <div class="form-control-group mt-3">
                                <label class="label" for="input-month">Loan Tenure (Months):</label>
                                <nb-select fullWidth placeholder="Select Loan Tenure" [(selected)]="selectedMonth"
                                    required="true">
                                    <nb-option value="">Select Month</nb-option>
                                    <nb-option value="{{month.value}}"
                                        *ngFor="let month of months">{{month.label}}</nb-option>
                                </nb-select>

                            </div>
                            <div class="form-control-group mt-3">
                                <button [nbSpinner]="submitted" nbButton fullWidth status="primary"
                                    [disabled]="submitted || !form.valid" [class.btn-pulse]="submitted">
                                    Calculate
                                </button>
                            </div>

                        </form>
                    </div>
                    <nb-card-footer class="no-padding" *ngIf="showCalculateFooter">
                        <div class="card-color card-calculator-footer card-radius-bottom card-radius-bottom-pos"
                            style="text-align: center;">
                            <div class="pt-4 pb-2">
                                <p class="text-white">Monthly Payment</p>
                                <h5 class="text-loan-amount text-white">N{{ loanRsponse?.monthlyAmount | number   }}</h5>
                                <p class="text-white">Total Payment</p>
                                <h5 class="text-loan-amount text-white">N{{ loanRsponse?.repaymentAmount | number   }}</h5>
                                <p class="text-info">Interest Rate = {{ loanRsponse?.rate }}%</p>
                            </div>
                        </div>
                    </nb-card-footer>
                </nb-card-body>
            </nb-card>
        </div>
    </div>
</div>