.no-padding{
    padding: 0px !important;
}

.card-color{
    background: #2B645D;
}
.card-calculator-header{
    height: 55px;
}

.card-calculator-footer{
    height: 220px;
}

.card-radius-bottom{
    border-radius: 0px 0px 0.5rem 0.5rem;
}

.card-radius-bottom-pos{
    position: relative;
    bottom: -2.5%;
}

.card-radius-top{
    border-radius: 0.5rem 0.5rem 0px 0px;
}

.text-white{
    color: #ffffff;
}
.text-loan-amount{
    font-size: 35px;
    font-weight: 700;
}
.text-info{
    color: #FFCF0F !important;
}
.heading-text{
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    line-height: 2.5;
}

.table {
    font-size: 9px !important;
}

