// @import "~bootstrap/scss/mixins/breakpoints";
@import "~@nebular/theme/styles/global/breakpoints";

nb-card {
    max-height: 70vh;
}

nb-user {
    --user-large-name-text-font-size: var(--text-heading-3-font-size);
    --user-name-text-font-weight: var(--text-heading-3-font-weight);
}
